*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body{
    background-size: aquamarine;
    border-color: black;
    border-style:groove;
}

.container{
    border-style:groove;
    border-radius: 10px;
}
input{
    border-bottom: 2px solid black;
    background-color: #E6DBD3;
}
h3{
    align-content: center;
}
footer{
    background-color: black;
    font-style: italic;
}

@media (max-width:767px)  {
 body{

 }
}


section{
    display:flex;
    width: 600px;
    height: 430px;
    border:#E6DBD3;
    border-style: groove;
    border-radius: 5%;
    
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 6%;
}

section img:hover{
    cursor:crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}